*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}  
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    background-color: #1e1e1e;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s;

}
.navbar a:hover{
    text-decoration: underline;
}
.cotainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
}
.card-funcionario{
    background-color: #e0e0e0;
    padding: 20px;
}
.card-funcionario h1{
    margin-bottom: 10px;
}
.card-funcionario button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}
.card-funcionario button:hover{
    background-color: #555;
}
.card-ponto{
    background-color: #e0e0e0;
    padding: 20px;
}
.card-ponto h1{
    margin-bottom: 10px;
}
.card-ponto button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.card-ponto button:hover{
    background-color: #555;
}
.card-regisInfo{
    background-color: #e0e0e0;
    padding: 20px;
}
.card-regisInfo h1{
    margin-bottom: 10px;
}
.card-regisInfo button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}
.card-regisInfo button:hover{
    background-color: #555;
}