*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background-color: #1e1e1e;
    padding: 12px;
    border-radius: 5px;
   

}
.navbar a:hover{
    text-decoration: underline;
}
.cotainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
}
.card-inicio{
    background-color: #e0e0e0;
    padding: 20px;
}
.card-inicio h1{
    margin-bottom: 10px;
}
.card-inicio button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;

}
.card-inicio button:hover{
    background-color: #555;
}
.trabalhe-conosco{
    background-color: #e0e0e0;
    padding: 20px;
}
.trabalhe-conosco h1{
    margin-bottom: 10px;
}
.trabalhe-conosco button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2em;
}
.trabalhe-conosco button:hover{
    background-color: #555;
}
.contato{
    background-color: #e0e0e0;
    padding: 20px;
}
.contato h1{
    margin-bottom: 10px;
}

.sobre{
    background-color: #e0e0e0;
    padding: 20px;
}
.sobre h1{
    margin-bottom: 10px;
}
